* text=lf
*.rb text eol=lf
Gemfile text eol=lf
*.erb text eol=lf
*.js text eol=lf
*.md text eol=lf
LICENSE text eol=lf
Gemfile.lock text eol=lf
*.ru text eol=lf
*.css text eol=lf
*.txt text eol=lf
*.cs text eol=crlf
*.yaml text eol=lf