      <div class="row">
        <div class="large-12 columns">
          <p style="text-align: right;"><small>White Lotus. Alpha.</small></p>
        </div>
      </div>
        <script src="/js/foundation.min.js"></script>
        <script>
          $(document).foundation();
        </script>
    </body>
</html>