      <div class="row">
        <p style="text-align: right;"><small>A Nyx Studios project. Powered by <a href="http://steampowered.com/">Steam</a>.</small></p>
      </div>
        <script src="/js/vendor/foundation.min.js"></script>
        <script>
          $(document).foundation();
        </script>
    </body>
</html>