      <div class="row">
        <p style="text-align: right;"><small>A <a href="http://blog.nyxstudios.moe/">Nyx Studios</a> project. Powered by <a href="http://steampowered.com/">Steam</a>.</small></p>
      </div>
        <script src="/js/vendor/foundation.min.js"></script>
        <script>
          $(document).foundation()
          .foundation('abide', {
            patterns: {
              password: /[a-zA-Z0-9]+/,
              username: /^[a-zA-Z0-9-_]+$/
            }
          });
        </script>
    </body>
</html>