<div class="row">
  <div class="small-12 columns">
    <h4><%= title %></h4>
    <h5 class="subheader"><%= heading %></h5>
  </div>
  <hr />
</div>
<div class="row panel">
  <div class="small-12 columns">
    <p><%= body %></p>
  </div>
</div>