<div class="row">
  <div class="small-12 columns">
    <img style="margin-left: auto; margin-right: auto; display: block;" src="<%= url('/img/tshock_logo.png') %>" />
    <h4 style="text-align: center">To begin, sign in.</h4>
  </div>
  <hr />
</div>
<div class="row panel">
  <div class="small-12 columns">
    <p style="text-align: center">White Lotus allows servers to connect users to their Steam accounts.</p>
    <p style="text-align: center"><strong>If you were sent here by a server, press the login button below to create a TShock account and play.</strong></p>
  </div>
</div>
<div class="row">
  <div class="small-12 columns">
    <a href="<%= url('/login/stage/1') %>"><img style="margin-left: auto; margin-right: auto; display: block;" src="<%= url('/img/steam_logon.png') %>" /></a>
  </div>
</div>
