<div class="row">
  <div class="small-12 columns">
    <img style="margin-left: auto; margin-right: auto; display: block;" src="<%= url('/img/tshock_logo.png') %>" />
    <h4 style="text-align: center">To begin, sign in.</h4>
  </div>
  <hr />
</div>
<div class="row panel">
  <div class="small-12 columns">
    <a href="<%= url('/login/stage/1') %>"><img style="margin-left: auto; margin-right: auto; display: block;" src="<%= url('/img/steam_logon.png') %>" /></a>
  </div>
</div>