<div class="row">
  <div class="large-12 columns">
    <img style="margin-left: auto; margin-right: auto; display: block;" src="<%= url('/img/tshock_logo.png') %>" />
    <h4 style="text-align: center">To begin, sign in.</h4>
  </div>
  <hr />
</div>
<div class="row panel">
  <div class="large-12 columns">
    <a href="<%= url('/login/steam/') %>"><img style="margin-left: auto; margin-right: auto; display: block;" src="http://cdn.steamcommunity.com/public/images/signinthroughsteam/sits_small.png" /></a>
  </div>
</div>