<div class="row">
  <div class="small-12 columns">
    <img style="margin-left: auto; margin-right: auto; display: block;" src="<%= url('/img/tshock_logo.png') %>" />
    <h4 style="text-align: center">Enter your server's join key.</h4>
  </div>
  <hr />
</div>
<div class="row">
  <div class="small-6 small-centered columns">
    <form method="post" action="<%= url('/login/stage/3/') %>" data-abide>
      <fieldset>
        <div class="row collapse">
          <label>Server Key <small>Required</small></label>
          <div class="small-10 columns">
            <input type="text" name="server_key" placeholder="maka-albarn-server" required>
            <small class="error">You must enter a valid server key in order to register.</small>
          </div>
          <div class="small-2 columns">
            <button action="submit" type="submit" class="button prefix">Join</button>
          </div>
        </div>
      </fieldset>
    </form>
  </div>
</div>
<div class="row">
  <p style="text-align: center"><small><a href="<%= url('/login/stage/4') %>">Server owner?</a></small></p>
</div>